*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

#root {
  width: 100%;
  min-height: 100vh;
  display: grid;
  grid-template-areas:
    "header"
    "main"
    "footer";
  grid-template-rows: auto 1fr auto;
}

header {
  grid-area: header;
  background-color: rgba(0, 0, 0, 0.3);
}

main {
  grid-area: main;
}

footer {
  grid-area: footer;
  color: #ffffff;
  background-color: #000000;
}

header,
main,
footer {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 16px;
}
nav{
  display: flex;
  column-gap: 3rem;
}

input {
  display: block;
}
